@media screen and (max-width:576px){
    /* navbar-part-start */
    .navbar-content{
        max-width: 100%;
        margin: 0;
    }
    .menubar-content{
        display: none;
    }
    .menubar-style{
        display: unset;
        color: rgb(255, 255, 255);
        margin-right: 1rem;
    }
    /* navbar-part-close */

    /* banner-part-start */
    .banner-all-container{
        flex-direction: column;
    }
    /* banner-content-part */
    .banner-content{
        max-width: 100%;
        margin-left: 0.6rem;
        padding-right: 0.7rem;
        margin-top: 2.8rem;
    }
    .banner-title{
        font-size: 3.5rem;
        line-height: 120%;
    }
    .Download{
        padding: 1rem;
    }
    .club{
        display: none;
    }
    .banner-image{
        max-width: 100%;
        margin-left: 1.4rem;
    }
    /* image-position-button-part */
    .position-button-contents-1{
        max-width: 155px;
        position: relative;
    left: 2rem;
    top: -19.99rem;
    }
    .dot-circle{
        width: 30px;
        height: 30px;
        margin-left: 0.9rem;
    }
    .number{
        font-size: 1.1rem;
    }
    .title{
        font-size: 0.75rem;

    }
    .position-button-content-2{
        max-width: 140px;
        margin-right: 1.5rem;
        position: relative;
    left: 13.37rem;
    top: -39.8rem;
    }
    .number-2{
        font-size: 1.8rem;
        padding-left: 0.5rem;
    padding-right: 0rem;
    }
    .title-2{
        font-size: 0.6rem;
        margin-left: 0.7rem;
        letter-spacing: 10%;
    }
    .banner-button-card{
        position:absolute;
    }
    /* banner-part-end */

    /* main-part-start */
    main{
        padding-top: 0%;
    }
    .change-habit-title-content{
        max-width: 100%;
        margin: 0 auto;
    }
    .habit-title{
        font-size: 2rem;
    }
    .habit-description{
        margin: 0rem 1rem;
        line-height: 1.3rem;
    }
    /* change-habit-detail-card-start */

    .change-habit-detail{
        max-width: 100%;
        margin: 3.6rem auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
       justify-items: center;
        /* gap: 2.5rem; */
    }
    .habit-card-img{
        margin-left: 1.7rem;
    }
}

